<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" media="all" href="static/css/red.css">
	<title>Нарушение информационной безопасности</title>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>
	<style type="text/css" media="screen">
		<!-- 
			@import url("static/css/red.css");
		-->
	</style>	
</head>
<body>
	<div class="container">
		<div class="ani">
			<div class="a1"><span><b></b></span></div>
			<div class="a2"><span><b></b></span></div>
			<div class="a3"><span><b></b></span></div>
			<div class="a4"><span><b></b></span></div>
			<div class="a5"><span><b></b></span></div>
			<div class="a6"><span><b></b></span></div>
			<div class="a7"><span><b></b></span></div>
			<div class="a8"><span><b></b></span></div>
			<div class="a9"><span><b></b></span></div>
			<div class="a10"><span><b></b></span></div>
		</div>
		<div role="main" class="home">
			<div>
				<img src="/static/images/logo_1_1.png" width="100">
				<h2>Ваши действия привели к нарушению информационной безопасности</h2>
				
				<p><img src="/static/images/dasha.jpg" alt="Голяндина Дарья Юрьевна" title="Голяндина Дарья Юрьевна"></p>
				<p>Немедленно свяжитесь со специалистом по информационной безопасности!</p>
				<p>тел. <strong>129</strong></p>
			</div>
			<div>
				
			</div>
		</div>
		<footer role="contentinfo">   
			<div>
			</div>
		</footer>
	</div>
</body>
</html>